body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

#navegacao {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    
}



#lista {
    display: flex;
    justify-content: center;
}


#lista li{

    /* padding: 15px; */

}

nav ul{

    display: flex;
    flex-direction: row;

}


nav{

   display: flex;
   justify-content: space-between;
   align-items: center;

   margin: 0 80px;
   margin-top: 30px;

}


ul {
    list-style: none;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    width: 100px;
}

#sessao-1 {

    height: 46vh;
    
}

ul li {
    padding: 0 5px;
}

.logo{

    color: #000;
    font-size: 30px;
    font-weight: 680;

}

button{

    border: none;
    color: white;

    list-style: none;
    background: none;

}

ul a{

    color: #000;
    text-decoration: none;

    font-weight: 200;

}


a{

    text-decoration: none;
    color: inherit;

}

#lista{

    /* background-color: yellow; */
    width: 100px;
    height: 20px;

    display: flex;
    flex-direction: row;

}