
body {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;

}

header {
    display: flex;
    justify-content: center;
    
    background-color: #292728;
}

ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

#sessao-1 {
    background-color: #F1EACD;
    height: 46vh;
    border-bottom: 1px solid black;
}

ul li{
    
    padding: 0 5px;
    
}